.et_pb_section {
  &.home-hero {
    h1 {
      font-family: Poppins, helvetica, sans-serif;
      font-size: 78px;
      text-align: center;
      color: #e1e2da;
      font-weight: 200;

      @media (max-width: 980px) {
        font-size: 65px;
      }

      @media (max-width: 500px) {
        font-size: 46px;
      }
    }

    .et_pb_text_inner {
      font-size: 26px;
      font-weight: 600;
      color: #e1e2da;
      text-align: center;
      line-height: 1.5;

      @media (max-width: 980px) {
        font-size: 22px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
  }

  .et_pb_row {
    &.row-reverse {
      @media (max-width: 980px) {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;
      }

      img {
        @media (max-width: 980px) {
          margin-top: 2em;
        }
      }
    }
  }
}
