.et_pb_section {
  &.resources {
    .dp-dfg-filters.dp-dfg-filters-buttons-layout {
      display: none;
    }

    .dp-dfg-items {
      grid-template-columns: repeat(auto-fill, minmax(35%, 1fr)) !important;
      column-gap: 5em !important;
      row-gap: 5em !important;

      .dp-dfg-item {
        border-radius: 20px;
        padding: 4em;

        .dp-dfg-header,
        .et_pb_button_wrapper {
          background: rgb(255 255 255 / 45%);
        }

        .entry-title {
          color: #3b804d;
          font-size: 54px;
          font-weight: 600;
        }

        .et_pb_button_wrapper {
          &.read-more-wrapper {
            display: flex;
            justify-content: start;

            .et_pb_button {
              color: #3b804d;
              border: 2px solid #3b804d;

              &:hover {
                background: #3b804d !important;
                color: #fff !important;
              }
            }
          }
        }
      }
    }

    .dp-dfg-pagination {
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #3b804d;
        width: calc(42% - 1em) !important;

        @media (max-width: 1200px) {
          width: calc(42% - 3em) !important;
        }
      }

      &::before {
        margin-top: 12.5em;
        left: 0;
      }

      &::after {
        margin-top: -2.5em;
        right: 0;
      }

      .et_pb_button {
        &.dp-dfg-load-more-button {
          &.dp-dfg-load-more-default {
            color: #3b804d;
            border: 2px solid #3b804d;
            transition: 0.3s;

            &:hover {
              background: #3b804d !important;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}
