// Brand Colors
$color-orange: #f89729;
$color-secondary: #292727;
$color-light-blue: #3a7197;
$color-dark-blue: #2a3f49;
$color-light-gray: #d8d8d8;
$color-quaternary: #fafafa;
$color-black: #000;
$color-white: #fff;
$color-btn-secondary: #056cf2;
